<!doctype html>
<html class="no-js" lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>::eBakery:: Dashboard</title>
    <link rel="icon" href="/admin/favicon.ico" type="image/x-icon"> <!-- Favicon-->

    <!-- plugin css file  -->
    <link rel="stylesheet" href="/admin/dist/assets/plugin/datatables/responsive.dataTables.min.css">
    <link rel="stylesheet" href="/admin/dist/assets/plugin/datatables/dataTables.bootstrap5.min.css">
    <!-- project css file  -->
    <link rel="stylesheet" href="/ebazar.style.min.css">
</head>

<body>
<div id="ebazar-layout" class="theme-blue">

    <!-- sidebar -->
    <div th:insert="/admin/fragments/fragment::slidebar"></div>
    <!-- main body area -->
    <div class="main px-lg-4 px-md-4">
        <div th:insert="/admin/fragments/fragment::headerImport"></div>

        <!-- Body: Body -->
        <div class="body d-flex py-3">
            <div class="container-xxl">
                <div class="row align-items-center">
                    <div class="border-0 mb-4">
                        <div class="card-header py-3 no-bg bg-transparent d-flex align-items-center px-0 justify-content-between border-bottom flex-wrap">
                            <h3 class="fw-bold mb-0">Products</h3>
                            <div class="btn-group group-link btn-set-task w-sm-100">
                                <a href="https://pixelwibes.com/template/ebazar/laravel/public/backend/product-grid"
                                   class="btn d-inline-flex align-items-center" aria-current="page"><i
                                        class="icofont-wall px-2 fs-5"></i>Grid View</a>
                                <a href="https://pixelwibes.com/template/ebazar/laravel/public/backend/product-list"
                                   class="btn active d-inline-flex align-items-center"><i
                                        class="icofont-listing-box px-2 fs-5"></i> List View</a>
                            </div>
                        </div>
                    </div>
                </div> <!-- Row end  -->
                <div class="row g-3 mb-3">
                    <div class="col-md-12 col-lg-4 col-xl-4 col-xxl-3">
                        <div class="sticky-lg-top">
                            <div class="card mb-3">
                                <div class="reset-block">
                                    <div class="filter-title">
                                        <h4 class="title">Filter</h4>
                                    </div>
                                    <div class="filter-btn">
                                        <a class="btn btn-primary" href="#">Reset</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-3">
                                <div class="categories">
                                    <div class="filter-title">
                                        <a class="title" data-bs-toggle="collapse" href="#category" role="button"
                                           aria-expanded="true">Categories</a>
                                    </div>
                                    <div class="collapse show" id="category">
                                        <div class="filter-search">
                                            <form>
                                                <input id="searchInput" type="text" placeholder="Search"
                                                       class="form-control"
                                                >
                                                <button><i class="lni lni-search-alt"></i></button>
                                            </form>
                                        </div>


                                        <div id="categoryResult">


                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card mb-3">
                                <div class="price-range-block">
                                    <div class="filter-title">
                                        <a class="title" data-bs-toggle="collapse" href="#pricingTwo" role="button"
                                           aria-expanded="false">Pricing Range</a>
                                    </div>
                                    <div class="collapse show" id="pricingTwo">
                                        <div class="price-range">
                                            <div class="price-amount flex-wrap">
                                                <div class="amount-input mt-1">
                                                    <label class="fw-bold">Minimum Price</label>
                                                    <input type="text" id="minAmount2" class="form-control">
                                                </div>
                                                <div class="amount-input mt-1">
                                                    <label class="fw-bold">Maximum Price</label>
                                                    <input type="text" id="maxAmount2" class="form-control">
                                                </div>
                                            </div>
                                            <div id="slider-range2"
                                                 class="slider-range noUi-target noUi-ltr noUi-horizontal noUi-txt-dir-ltr">
                                                <div class="noUi-base">
                                                    <div class="noUi-connects">
                                                        <div class="noUi-connect"
                                                             style="transform: translate(7.45%) scale(0.12500000000000003, 1);"></div>
                                                    </div>
                                                    <div class="noUi-origin"
                                                         style="transform: translate(-925.5%, 0px); z-index: 5;">
                                                        <div class="noUi-handle noUi-handle-lower" data-handle="0"
                                                             tabindex="0" role="slider" aria-orientation="horizontal"
                                                             aria-valuemin="0.0" aria-valuemax="399.0"
                                                             aria-valuenow="149.0" aria-valuetext="149.00">
                                                            <div class="noUi-touch-area"></div>
                                                        </div>
                                                    </div>
                                                    <div class="noUi-origin"
                                                         style="transform: translate(-800.5%, 0px); z-index: 6;">
                                                        <div class="noUi-handle noUi-handle-upper" data-handle="1"
                                                             tabindex="0" role="slider" aria-orientation="horizontal"
                                                             aria-valuemin="149.0" aria-valuemax="2000.0"
                                                             aria-valuenow="399.0" aria-valuetext="399.00">
                                                            <div class="noUi-touch-area"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="card">
                                <div class="rating-block">
                                    <div class="filter-title">
                                        <a class="title" data-bs-toggle="collapse" href="#rating" role="button"
                                           aria-expanded="false">Select Rating</a>
                                    </div>
                                    <div class="collapse show" id="rating">
                                        <div class="filter-rating">
                                            <ul>
                                                <li>
                                                    <div class="rating-check">
                                                        <input type="checkbox" id="rating-5">
                                                        <label for="rating-5"><span></span>

                                                        </label>
                                                        <p>
                                                            <i class="icofont-star"></i>
                                                            <i class="icofont-star"></i>
                                                            <i class="icofont-star"></i>
                                                            <i class="icofont-star"></i>
                                                            <i class="icofont-star"></i>
                                                        </p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="rating-check">
                                                        <input type="checkbox" id="rating-4">
                                                        <label for="rating-4"><span></span></label>
                                                        <p>
                                                            <i class="icofont-star"></i>
                                                            <i class="icofont-star"></i>
                                                            <i class="icofont-star"></i>
                                                            <i class="icofont-star"></i>
                                                        </p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="rating-check">
                                                        <input type="checkbox" id="rating-3">
                                                        <label for="rating-3"><span></span></label>
                                                        <p>
                                                            <i class="icofont-star"></i>
                                                            <i class="icofont-star"></i>
                                                            <i class="icofont-star"></i>
                                                        </p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="rating-check">
                                                        <input type="checkbox" id="rating-2">
                                                        <label for="rating-2"><span></span></label>
                                                        <p>
                                                            <i class="icofont-star"></i>
                                                            <i class="icofont-star"></i>
                                                        </p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="rating-check">
                                                        <input type="checkbox" id="rating-1">
                                                        <label for="rating-1"><span></span></label>
                                                        <p>
                                                            <i class="icofont-star"></i>
                                                        </p>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-12 col-lg-8 col-xl-8 col-xxl-9">
                        <div class="card mb-3 bg-transparent p-2">
                            <div class="card border-0 mb-1">

                                <div class="card-body d-flex align-items-center flex-column flex-md-row"
                                     th:each="product: ${products}">
                                    <a href="https://pixelwibes.com/template/ebazar/laravel/public/backend/product-detail">
                                        <img th:if="${product.productPic != null}"
                                             th:src="@{/products/getImage(fileName=${product.productPic})}">
                                        <img th:if="${product.productPic == null}"
                                             src="/images/product-defoult.jpg" height=50 width=100>
                                    </a>
                                    <div class="ms-md-4 m-0 mt-4 mt-md-0 text-md-start text-center w-100">
                                        <a href="https://pixelwibes.com/template/ebazar/laravel/public/backend/product-detail">
                                            <h6 class="mb-3 fw-bold" th:text="${product.name}">Product's name</h6>
                                        </a>
                                        <div class="d-flex flex-row flex-wrap align-items-center justify-content-center justify-content-md-start">
                                            <div class="pe-xl-5 pe-md-4 ps-md-0 px-3 mb-2">
                                                <div class="text-muted small">Price</div>
                                                <strong th:text="${product.price}">20h:46m:30s</strong>
                                            </div>
                                            <div class="pe-xl-5 pe-md-4 ps-md-0 px-3 mb-2">
                                                <div class="text-muted small">Category</div>
                                                <strong th:text="${product.category.name}">Bank Offer</strong>
                                            </div>
                                            <div class="pe-xl-5 pe-md-4 ps-md-0 px-3 mb-2">
                                                <div class="text-muted small">In Store</div>
                                                <strong th:text="${product.inStore}">$149</strong>
                                            </div>
                                            <div class="pe-xl-5 pe-md-4 ps-md-0 px-3 mb-2">
                                                <div class="text-muted small">Ratings</div>
                                                <strong><i class="icofont-star text-warning"></i>4.5 <span
                                                        class="text-muted">(145)</span></strong>
                                            </div>
                                            <div class="btn-group" role="group" aria-label="Basic outlined example">

                                                <a th:href="@{/products/delete(id=${product.id})}">
                                                    <button type="button" class="btn btn-outline-secondary deleterow"><i
                                                            class="icofont-ui-delete text-danger"></i></button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div th:if="${products.totalPages > 0}" class="page"
                         th:each="pageNumber : ${pageNumbers}">
                        <a th:href="@{/products(size=${products.size}, page=${pageNumber})}"
                           th:text="${pageNumber}"
                           th:class="${pageNumber==products.number + 1} ? active"></a>
                    </div>
                </div>
                <!-- Row end  -->
            </div>
        </div>

    </div>
</div>
</div>

<!-- Jquery Core Js -->
<script src="/admin/dist/assets/bundles/libscripts.bundle.js"></script>
<!-- Plugin Js -->
<script src="/admin/dist/assets/bundles/apexcharts.bundle.js"></script>
<script src="/admin/dist/assets/bundles/dataTables.bundle.js"></script>
<script src="/admin/dist/assets/js/page/index.js"></script>
<script src="/admin/maps/api/js?key=AIzaSyB1Jr7axGGkwvHRnNfoOzoVRFV3yOPHJEU&callback=myMap"></script>
<!-- Jquery Page Js -->
<script src="/admin/dist/assets/js/template.js"></script>
<script th:inline="javascript">

    let categories = /*[[${categories}]]*/


        let
    div = $('#categoryResult')
    let content = '';

    for (let i = 0; i < categories.length; i++) {

        content +=
            '   <div class="filter-category">\n' +
            '       <ul class="category-list">\n' +
            '           <li><a href="/product?category=' + categories[i].id + '" >' + categories[i].name + '</a>\n' +
            '           </li>\n' +
            '       </ul>\n' +
            '   </div>'
    }
    div.append(content)

    $('#searchInput').keyup(function () {
        div.empty();
        content = ''
        let keyword = $(this).val()

        for (let i = 0; i < categories.length; i++) {

            if (categories[i].name.toLowerCase().startsWith(keyword)) {
                console.log('>>>>>>>>>>', keyword)

                content +=
                    '   <div class="filter-category">\n' +
                    '       <ul class="category-list">\n' +
                    '           <li><a href="/product?category=' + categories[i].id + '" >' + categories[i].name + '</a>\n' +
                    '           </li>\n' +
                    '       </ul>\n' +
                    '   </div>'

            }

        }
        div.append(content)

    })

    $('#myDataTable')
        .addClass('nowrap')
        .dataTable({
            responsive: true,
            columnDefs: [{
                targets: [-1, -3],
                className: 'dt-body-right'
            }]
        });
</script>
</body>
</html>
