<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <title>Where I Learning Cook Cupcakes ? &#8211; Noucake</title>
    <th:block th:insert="web/fragments/fragment.html::headerImport"></th:block>
    <th:block th:insert="web/fragments/fragment.html::global-styles-inline-css"></th:block>
    <th:block th:insert="web/fragments/fragment.html::js-css"></th:block>

</head>
<body class="post-template-default single single-post postid-323 single-format-standard theme-noucake woocommerce-no-js page-init wpb-js-composer js-comp-ver-6.8.0 vc_responsive currency-usd">
<th:block th:insert="web/fragments/fragment.html::table"></th:block>

<div class="ps-searchbox">
    <div class="ps-searchbox__remove"><i class="fa fa-remove"></i></div>
    <div class="container">
        <header>
            <p>Enter your keywords:</p>
            <form id="search_header" class="search_header_product " method="get"
                  action="http://warethemes.com/wordpress/bakery/">
                <input class="form-control" type="text" value="" name="s" autocomplete="off">

                <input type="hidden" name="post_type" value="product">
                <button type="submit"><i class="ps-icon--search"></i></button>
            </form>
        </header>
        <div class="ps-searchbox__result"></div>
        <footer class="text-center"><a class="ps-searchbox__morelink" href="#">VIEW ALL RESULT</a></footer>
    </div>
</div>
<div class="header--sidebar"></div>
<header class="header" data-responsive="1199">

    <th:block th:insert="web/fragments/fragment.html::USD-EURImport"></th:block>
    <th:block th:insert="web/fragments/fragment.html::class-navigation-import"></th:block>

    <div id="noubakery_mini_cart" class="ps-cart">
        <a class="ps-cart__toggle" href="/cart"><span><i>24</i></span><i
                class="ps-icon--shopping-cart"></i></a>
        <div class="ps-cart__listing">
            <div class="ps-cart__content">


                <div class="ps-cart-item">
                    <a href="/cart?remove_item=84d9ee44e457ddef7f2c4f25dc8fa865&#038;_wpnonce=9697bccc19"
                       class="ps-cart-item__close remove" title="Remove this item"
                       data-key="84d9ee44e457ddef7f2c4f25dc8fa865" data-product_id="199"
                       data-product_sku="HGEGX12"></a>
                    <div class="ps-cart-item__thumbnail">
                        <a href="/product/single-page"><img width="60" height="65"
                                                                                  src="/images/2013/06/img-cake-6-60x65.jpg"
                                                                                  class="attachment-noubakery_60x65 size-noubakery_60x65 wp-image-207"
                                                                                  alt="" loading="lazy"></a>
                    </div>
                    <div class="ps-cart-item__content">
                        <a class="ps-cart-item__title" href="/product/single-page">Sweet
                            Cakes</a>
                        <p>
                            <span>Quantity:<i>2</i></span>
                            <span>Total: <span class="woocs_special_price_code"><span
                                    class="woocommerce-Price-amount amount"><bdi><span
                                    class="woocommerce-Price-currencySymbol">&#36;</span>29.00</bdi></span></span></span>
                        </p>
                    </div>
                </div>

                <div class="ps-cart-item">
                    <a href="../cart/index.htm?remove_item=0e65972dce68dad4d52d063967f0a705&#038;_wpnonce=9697bccc19"
                       class="ps-cart-item__close remove" title="Remove this item"
                       data-key="0e65972dce68dad4d52d063967f0a705" data-product_id="198"
                       data-product_sku="HGEGX13"></a>
                    <div class="ps-cart-item__thumbnail">
                        <a href="/product/single-page"><img width="60" height="65"
                                                                                  src="/images/2017/06/img-cake-9-60x65.jpg"
                                                                                  class="attachment-noubakery_60x65 size-noubakery_60x65 wp-image-257"
                                                                                  alt="" loading="lazy"></a>
                    </div>
                    <div class="ps-cart-item__content">
                        <a class="ps-cart-item__title" href="/product/single-page">Cupcake
                            Glory</a>
                        <p>
                            <span>Quantity:<i>2</i></span>
                            <span>Total: <span class="woocs_special_price_code"><span
                                    class="woocommerce-Price-amount amount"><bdi><span
                                    class="woocommerce-Price-currencySymbol">&#36;</span>90.00</bdi></span></span></span>
                        </p>
                    </div>
                </div>

                <div class="ps-cart-item">
                    <a href="/cart?remove_item=85d8ce590ad8981ca2c8286f79f59954&#038;_wpnonce=9697bccc19"
                       class="ps-cart-item__close remove" title="Remove this item"
                       data-key="85d8ce590ad8981ca2c8286f79f59954" data-product_id="197"
                       data-product_sku="HGEGX14"></a>
                    <div class="ps-cart-item__thumbnail">
                        <a href="/product/single-page"><img width="60" height="65"
                                                                                  src="/images/2017/06/img-cake-21-60x65.jpg"
                                                                                  class="attachment-noubakery_60x65 size-noubakery_60x65 wp-image-269"
                                                                                  alt="" loading="lazy"></a>
                    </div>
                    <div class="ps-cart-item__content">
                        <a class="ps-cart-item__title" href="/product/single-page">cupcake
                            queen</a>
                        <p>
                            <span>Quantity:<i>2</i></span>
                            <span>Total: <span class="woocs_special_price_code"><span
                                    class="woocommerce-Price-amount amount"><bdi><span
                                    class="woocommerce-Price-currencySymbol">&#36;</span>30.00</bdi></span></span></span>
                        </p>
                    </div>
                </div>

                <div class="ps-cart-item">
                    <a href="/cart?remove_item=084b6fbb10729ed4da8c3d3f5a3ae7c9&#038;_wpnonce=9697bccc19"
                       class="ps-cart-item__close remove" title="Remove this item"
                       data-key="084b6fbb10729ed4da8c3d3f5a3ae7c9" data-product_id="196"
                       data-product_sku="HGEGX15"></a>
                    <div class="ps-cart-item__thumbnail">
                        <a href="/product/single-page"><img width="60" height="65"
                                                                                  src="/images/2017/06/img-cake-12-60x65.jpg"
                                                                                  class="attachment-noubakery_60x65 size-noubakery_60x65 wp-image-260"
                                                                                  alt="" loading="lazy"></a>
                    </div>
                    <div class="ps-cart-item__content">
                        <a class="ps-cart-item__title" href="/product/single-page">Red
                            sugar flower</a>
                        <p>
                            <span>Quantity:<i>2</i></span>
                            <span>Total: <span class="woocs_special_price_code"><span
                                    class="woocommerce-Price-amount amount"><bdi><span
                                    class="woocommerce-Price-currencySymbol">&#36;</span>35.00</bdi></span></span></span>
                        </p>
                    </div>
                </div>


                <div class="ps-cart-item">
                    <a href="/cart?remove_item=0336dcbab05b9d5ad24f4333c7658a0e&#038;_wpnonce=9697bccc19"
                       class="ps-cart-item__close remove" title="Remove this item"
                       data-key="0336dcbab05b9d5ad24f4333c7658a0e" data-product_id="195"
                       data-product_sku="HGEGX16"></a>
                    <div class="ps-cart-item__thumbnail">
                        <a href="/product/single-page"><img width="60"
                                                                                  height="65"
                                                                                  src="/images/2017/06/img-cake-19-60x65.jpg"
                                                                                  class="attachment-noubakery_60x65 size-noubakery_60x65 wp-image-267"
                                                                                  alt=""
                                                                                  loading="lazy"></a>
                    </div>
                    <div class="ps-cart-item__content">
                        <a class="ps-cart-item__title"
                           href="/product/single-page">Pumpkin Brownie
                            Cupcakes</a>
                        <p>
                            <span>Quantity:<i>2</i></span>
                            <span>Total: <span class="woocs_special_price_code"><span
                                    class="woocommerce-Price-amount amount"><bdi><span
                                    class="woocommerce-Price-currencySymbol">&#36;</span>9.00</bdi></span></span></span>
                        </p>
                    </div>
                </div>

                <div class="ps-cart-item">
                    <a href="/cart?remove_item=a597e50502f5ff68e3e25b9114205d4a&#038;_wpnonce=9697bccc19"
                       class="ps-cart-item__close remove" title="Remove this item"
                       data-key="a597e50502f5ff68e3e25b9114205d4a" data-product_id="194"
                       data-product_sku="HGEGX17"></a>
                    <div class="ps-cart-item__thumbnail">
                        <a href="/product/single-page"><img width="60"
                                                                                  height="65"
                                                                                  src="/images/2017/06/img-cake-17-60x65.jpg"
                                                                                  class="attachment-noubakery_60x65 size-noubakery_60x65 wp-image-265"
                                                                                  alt=""
                                                                                  loading="lazy"></a>
                    </div>
                    <div class="ps-cart-item__content">
                        <a class="ps-cart-item__title"
                           href="/product/single-page">Pumpkin Spice
                            Cupcakes</a>
                        <p>
                            <span>Quantity:<i>2</i></span>
                            <span>Total: <span class="woocs_special_price_code"><span
                                    class="woocommerce-Price-amount amount"><bdi><span
                                    class="woocommerce-Price-currencySymbol">&#36;</span>9.00</bdi></span></span></span>
                        </p>
                    </div>
                </div>


                <div class="ps-cart-item">
                    <a href="/cart?remove_item=bd686fd640be98efaae0091fa301e613&#038;_wpnonce=9697bccc19"
                       class="ps-cart-item__close remove" title="Remove this item"
                       data-key="bd686fd640be98efaae0091fa301e613" data-product_id="193"
                       data-product_sku="HGEGX18"></a>
                    <div class="ps-cart-item__thumbnail">
                        <a href="/product/single-page><img width="60" height="65"
                                                                                  src="/images/2017/06/img-cake-16-60x65.jpg"
                                                                                  class="attachment-noubakery_60x65 size-noubakery_60x65 wp-image-264"
                                                                                  alt="" loading="lazy"></a>
                    </div>
                    <div class="ps-cart-item__content">
                        <a class="ps-cart-item__title"
                           href="/product/single-page">Oreo Spider Cupcakes</a>
                        <p>
                            <span>Quantity:<i>2</i></span>
                            <span>Total: <span class="woocs_special_price_code"><span
                                    class="woocommerce-Price-amount amount"><bdi><span
                                    class="woocommerce-Price-currencySymbol">&#36;</span>15.00</bdi></span></span></span>
                        </p>
                    </div>
                </div>


                <div class="ps-cart-item">
                    <a href="/cart?remove_item=9dcb88e0137649590b755372b040afad&#038;_wpnonce=9697bccc19"
                       class="ps-cart-item__close remove" title="Remove this item"
                       data-key="9dcb88e0137649590b755372b040afad" data-product_id="188"
                       data-product_sku="HGEGX19"></a>
                    <div class="ps-cart-item__thumbnail">
                        <a href="/product/single-page"><img width="60"
                                                                                  height="65"
                                                                                  src="/images/2017/06/img-cake-15-60x65.jpg"
                                                                                  class="attachment-noubakery_60x65 size-noubakery_60x65 wp-image-263"
                                                                                  alt=""
                                                                                  loading="lazy"></a>
                    </div>
                    <div class="ps-cart-item__content">
                        <a class="ps-cart-item__title"
                           href="/product/single-page">Chocolate Raspberry
                            Cupcakes</a>
                        <p>
                            <span>Quantity:<i>2</i></span>
                            <span>Total: <span class="woocs_special_price_code"><span
                                    class="woocommerce-Price-amount amount"><bdi><span
                                    class="woocommerce-Price-currencySymbol">&#36;</span>15.00</bdi></span></span></span>
                        </p>
                    </div>
                </div>

                <div class="ps-cart-item">
                    <a href="/cart?remove_item=eecca5b6365d9607ee5a9d336962c534&#038;_wpnonce=9697bccc19"
                       class="ps-cart-item__close remove" title="Remove this item"
                       data-key="eecca5b6365d9607ee5a9d336962c534" data-product_id="185"
                       data-product_sku="HGEGX22"></a>
                    <div class="ps-cart-item__thumbnail">
                        <a href="/product/single-page"><img width="60" height="65"
                                                                                  src="/images/2017/06/img-cake-3-60x65.jpg"
                                                                                  class="attachment-noubakery_60x65 size-noubakery_60x65 wp-image-251"
                                                                                  alt="" loading="lazy"></a>
                    </div>
                    <div class="ps-cart-item__content">
                        <a class="ps-cart-item__title"
                           href="/product/single-page">Honey Lemon Cupcakes</a>
                        <p>
                            <span>Quantity:<i>2</i></span>
                            <span>Total: <span class="woocs_special_price_code"><span
                                    class="woocommerce-Price-amount amount"><bdi><span
                                    class="woocommerce-Price-currencySymbol">&#36;</span>15.00</bdi></span></span></span>
                        </p>
                    </div>
                </div>


                <div class="ps-cart-item">
                    <a href="/cart?remove_item=9872ed9fc22fc182d371c3e9ed316094&#038;_wpnonce=9697bccc19"
                       class="ps-cart-item__close remove" title="Remove this item"
                       data-key="9872ed9fc22fc182d371c3e9ed316094" data-product_id="186"
                       data-product_sku="HGEGX21"></a>
                    <div class="ps-cart-item__thumbnail">
                        <a href="/product/single-page"><img width="60" height="65"
                                                                                  src="/images/2017/06/img-cake-7-60x65.jpg"
                                                                                  class="attachment-noubakery_60x65 size-noubakery_60x65 wp-image-255"
                                                                                  alt="" loading="lazy"></a>
                    </div>
                    <div class="ps-cart-item__content">
                        <a class="ps-cart-item__title" href="/product/single-page">Sangria
                            Cupcakes</a>
                        <p>
                            <span>Quantity:<i>2</i></span>
                            <span>Total: <span class="woocs_special_price_code"><span
                                    class="woocommerce-Price-amount amount"><bdi><span
                                    class="woocommerce-Price-currencySymbol">&#36;</span>12.00</bdi></span></span></span>
                        </p>
                    </div>
                </div>


                <div class="ps-cart-item">
                    <a href="/cart?remove_item=6cdd60ea0045eb7a6ec44c54d29ed402&#038;_wpnonce=9697bccc19"
                       class="ps-cart-item__close remove" title="Remove this item"
                       data-key="6cdd60ea0045eb7a6ec44c54d29ed402" data-product_id="184"
                       data-product_sku="HGEGX23"></a>
                    <div class="ps-cart-item__thumbnail">
                        <a href="/product/single-page"><img width="60"
                                                                                  height="65"
                                                                                  src="/images/2017/06/img-cake-10-60x65.jpg"
                                                                                  class="attachment-noubakery_60x65 size-noubakery_60x65 wp-image-258"
                                                                                  alt=""
                                                                                  loading="lazy"></a>
                    </div>
                    <div class="ps-cart-item__content">
                        <a class="ps-cart-item__title"
                           href="/product/single-page">Blueberry Buttercream</a>
                        <p>
                            <span>Quantity:<i>2</i></span>
                            <span>Total: <span class="woocs_special_price_code"><span
                                    class="woocommerce-Price-amount amount"><bdi><span
                                    class="woocommerce-Price-currencySymbol">&#36;</span>35.00</bdi></span></span></span>
                        </p>
                    </div>
                </div>


                <div class="ps-cart-item">
                    <a href="/cart?remove_item=4c5bde74a8f110656874902f07378009&#038;_wpnonce=9697bccc19"
                       class="ps-cart-item__close remove" title="Remove this item"
                       data-key="4c5bde74a8f110656874902f07378009" data-product_id="182"
                       data-product_sku="HGEGX25"></a>
                    <div class="ps-cart-item__thumbnail">
                        <a href="/product/single-page"><img width="60" height="65"
                                                                                  src="/images/2017/06/img-cake-11-60x65.jpg"
                                                                                  class="attachment-noubakery_60x65 size-noubakery_60x65 wp-image-259"
                                                                                  alt="" loading="lazy"></a>
                    </div>
                    <div class="ps-cart-item__content">
                        <a class="ps-cart-item__title" href="/product/single-page">Cherry
                            Coke</a>
                        <p>
                            <span>Quantity:<i>2</i></span>
                            <span>Total: <span class="woocs_special_price_code"><span
                                    class="woocommerce-Price-amount amount"><bdi><span
                                    class="woocommerce-Price-currencySymbol">&#36;</span>35.00</bdi></span></span></span>
                        </p>
                    </div>
                </div>
            </div>

            <div class="ps-cart__total">
                <p>Number of items:<span>24</span></p>
                <p>Item Total:<span class="woocs_special_price_code"><span
                        class="woocommerce-Price-amount amount"><bdi><span
                        class="woocommerce-Price-currencySymbol">&#36;</span>658.00</bdi></span></span></p>
            </div>

            <div class="ps-cart__footer">
                <a class="ps-btn ps-btn--view-bag" href="/cart">View bag</a>
            </div>
        </div>
    </div>
</header>

<nav class="ps-mobile-nav hidden-lg hidden-md">
    <ul class="ps-list--footer">
        <li><a href="/"><i class="ps-icon--heart"></i><span>Wishlist</span></a></li>

        <li><a href="/my_account"><i class="ps-icon--profile"></i><span>Account</span></a></li>

        <li><a class="ps-search-btn" href="#"><i class="ps-icon--search"></i><span>Search</span></a></li>

        <li><a class="ps-cart-count" href="/cart"><i class="ps-icon--shopping-cart"></i><span
                class="quantity"><i class="mobile_cart_content">24</i></span><span>Cart</span></a></li>
    </ul>
</nav>
<div class="page-wrap">
    <div class="ps-section--hero">
        <img src="/assets/wp-content2/themes/bakery/assets/images/hero/01.jpg" alt="Where I Learning Cook Cupcakes ?">
        <div class="ps-section__content text-center">
            <h3 class="ps-section__title">Where I Learning Cook Cupcakes ?</h3>

            <div class="ps-breadcrumb">
                <ol class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li><a href="/category/the-rolling-pin">Confection Connect</a></li>
                    <li class="active">Where I Learning Cook Cupcakes ?</li>
                </ol>
            </div>

        </div>
    </div>
    <div class="ps-section--page-reverse  ">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                    <div class="ps-blog-detail pt-80 pb-80">
                        <div class="ps-post">

                            <div class="ps-post__thumbnail">
                                <img src="/images/2017/06/img-blog-9-750x400.jpg" class=""
                                     alt="Where I Learning Cook Cupcakes ?"></div>

                            <div class="ps-post__header">
                                <h2 class="ps-post__title">Where I Learning Cook Cupcakes ?</h2>
                                <div class="ps-post__meta">
                                    <span><i class="fa fa-calendar-check-o"></i>February 23, 2017</span>
                                    <span>
      <a href="/#comments">
        <i class="fa fa-comment-o"></i>0 Comments      </a>
      </span>

                                    <span class="tags"><i class="fa fa-tags"></i><a
                                            href="/category/the-rolling-pin" rel="category tag">Confection Connect</a></span>
                                </div>
                            </div>
                            <div class="ps-post__content">
                                <p>No matter how far along you are in your sophistication as an amateur astronomer,
                                    there is always one fundamental moment that we all go back to. That is that very
                                    first moment that we went out where you could really see the cosmos well and you
                                    took in the night sky. For city dwellers, this is a revelation as profound as if we
                                    discovered aliens living among us. Most of us have no idea the vast panorama of
                                    lights that dot a clear night sky when there are no city lights to interfere with
                                    the view.</p>
                                <blockquote><p><i>It seems from the moment you begin to take your love of astronomy
                                    seriously, the thing that is on your mind is what kind of telescope will you get.
                                    And there is no question, investing in a good telescope can really enhance your
                                    enjoyment of your new passion in astronomy.</i></p>
                                    <p>Rodney Cannon</p></blockquote>
                                <p>In the history of modern astronomy, there is probably no one greater leap forward
                                    than the building and launch of the space telescope known as the Hubble. While NASA
                                    has had many ups and downs, the launch and continued operation of the Hubble space
                                    telescope probably ranks next to the moon landings and the development of the Space
                                    Shuttle as one of the greatest space exploration accomplishments of the last hundred
                                    years.</p>

                            </div>
                            <footer class="ps-post__footer">
                                <div class="row">
                                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 ">
                                        <div class="ps-post__tags"><i class="fa fa-tags"></i><a
                                                href="/category/the-rolling-pin" rel="tag">bakery</a><a
                                                href="/category/the-rolling-pin" rel="tag">vanila</a></div>
                                    </div>

                                    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 ">
                                        <div class="noubakery-share-post ps-post__action"
                                             data-url="http://warethemes.com/wordpress/bakery/2017/02/23/barbecue-party-tips-for-a-truly-amazing-event-8/"
                                             data-title="Where I Learning Cook Cupcakes ?">
                                            <a data-id="323" class="post-like like liked" href="#">Unlike <i
                                                    class="fa fa-heart"></i><span><i>1</i></span></a>
                                            <a href="#" data-type="facebook" class="share facebook"><i
                                                    class="fa fa-facebook"></i>Share</a>
                                            <a href="#" data-type="twitter" class="share twitter"><i
                                                    class="fa fa-twitter"></i>Tweet</a>

                                        </div>
                                    </div>
                                </div>
                            </footer>
                        </div>

                        <div class="ps-author-box">
                            <div class="ps-author-box__thumbnail">
                                <img alt=''
                                     src="/assets/avatar/630287aaec49c72be5d5cf6cdd87b1b6.png?s=80&#038;d=mm&#038;r=g"
                                     srcset='/assets/avatar/630287aaec49c72be5d5cf6cdd87b1b6-1.png 2x?s=160&#038;d=mm&#038;r=g 2x'
                                     class='avatar avatar-80 photo' height='80' width='80' loading='lazy'></div>
                            <div class="ps-author-box__content">
                                <h4>NouThemes</h4>
                                <p class="postion">WEB DESIGNER</p>
                                <p>The development of the mass spectrometer allowed the mass of atoms to be measured
                                    with increased accuracy. The device uses.</p>
                            </div>
                        </div>

                        <!-- Comment-->
                        <div class="ps-blog-comment">
                            <h3>0 Comments</h3>
                            <div class="ps-comment">

                            </div>
                        </div>
                        <!--Contact-->
                        <div class="ps-contact">
                            <div id="respond" class="comment-respond">
                                <h3 id="reply-title" class="comment-reply-title">Leave a comment <small><a
                                        rel="nofollow" id="cancel-comment-reply-link" href="/#respond"
                                        style="display:none;">Cancel Reply</a></small></h3>
                                <form action="http://warethemes.com/wordpress/bakery/wp-comments-post.php" method="post"
                                      id="commentform" class="comment-form">
                                    <div class="form-group"><textarea class="form-control" name="comment" id="comment"
                                                                      aria-required="true" placeholder="Comment"
                                                                      rows="6"></textarea></div>
                                    <div class="form-group"><input id="author" class="form-control" name="author"
                                                                   type="text" value="" size="30"
                                                                   placeholder="Your name" required="">
                                    </div>
                                    <div class="form-group"><input id="email" class="form-control" name="email"
                                                                   type="text" value="" size="30" placeholder="E-mail"
                                                                   required="">
                                    </div>
                                    <div class="form-group"><input id="url" class="form-control" name="url" type="text"
                                                                   placeholder="Website" value="" size="30"></div>
                                    <p class="comment-form-cookies-consent"><input id="wp-comment-cookies-consent"
                                                                                   name="wp-comment-cookies-consent"
                                                                                   type="checkbox" value="yes"> <label
                                            for="wp-comment-cookies-consent">Save my name, email, and website in this
                                        browser for the next time I comment.</label></p>
                                    <div class="form-group">
                                        <button type="submit" id="submit" name="submit"
                                                class="submit ps-btn ps-btn--sm ps-contact__submit">Post Comment
                                        </button>
                                        <input type='hidden' name='comment_post_ID' value='323' id='comment_post_ID'>
                                        <input type='hidden' name='comment_parent' id='comment_parent' value='0'>
                                    </div>
                                    <p style="display: none;"><input type="hidden" id="akismet_comment_nonce"
                                                                     name="akismet_comment_nonce" value="59f22ebfb1">
                                    </p>
                                    <p style="display: none !important;"><label>&#916;<textarea name="ak_hp_textarea"
                                                                                                cols="45" rows="8"
                                                                                                maxlength="100"></textarea></label><input
                                            type="hidden" id="ak_js_1" name="ak_js" value="172">
                                        <script>document.getElementById("ak_js_1").setAttribute("value", (new Date()).getTime());</script>
                                    </p>
                                </form>
                            </div><!-- #respond -->
                        </div>
                    </div>
                </div>
                <div id="blog-sidebar" class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="ps-sidebar">
                        <aside class="ps-widget ps-widget--sidebar widget search-2 widget_search">
                            <div class="ps-widget__header"><h3 class="ps-widget__title">Search</h3></div>
                            <div class="ps-widget--search">
                                <form role="search" method="get" action="http://warethemes.com/wordpress/bakery/">
                                    <input class="form-control" type="text" value="" name="s"
                                           placeholder="Type here bakery name...">

                                    <input type="hidden" name="post_type" value="product">
                                    <button type="submit"><i class="ps-icon--search"></i></button>
                                </form>
                            </div>
                        </aside>
                        <aside class="ps-widget ps-widget--sidebar widget noubakery_theme_widget_categories-5 ps-widget--category">
                            <div class="ps-widget__header"><h3 class="ps-widget__title">category</h3></div>
                            <ul class="ps-list--arrow">

                                <li class=""><a href="/category/the-rolling-pin"><span
                                        class="circle"></span>Amazin’
                                    Glazin’</a></li>
                                <li class=""><a href="/category/the-rolling-pin"><span
                                        class="circle"></span>Confection Connect</a></li>
                                <li class=""><a href="/category/the-rolling-pin"><span
                                        class="circle"></span>Mad Batter</a></li>
                                <li class=""><a href="/category/the-rolling-pin"><span
                                        class="circle"></span>Skippity Scones</a></li>
                                <li class=""><a href="/category/the-rolling-pin"><span
                                        class="circle"></span>The Crusty Croissa</a></li>
                                <li class=""><a href="/category/the-rolling-pin"><span
                                        class="circle"></span>The Rolling Pin</a></li>
                            </ul>
                        </aside>
                        <aside class="ps-widget ps-widget--sidebar widget noubakery_theme_widget_recent_posts-3 ps-widget--recent-post">
                            <div class="ps-widget__header"><h3 class="ps-widget__title">RECENT POST</h3></div>
                            <div class="ps-post ps-post--sidebar">
                                <div class="ps-post__thumbnail">
                                    <a class="ps-post__overlay"
                                       href="/review"></a>
                                    <img src="/images/2017/06/img-blog-3-300x300.jpg" class=""
                                         alt="Barbecue Party Tips For A Truly Amazing Event"></div>
                                <div class="ps-post__content">
                                    <a href="/review"
                                       data-number-line="2">Barbecue Party Tips For A Truly Amazing Event</a><span>June 24, 2017</span>
                                </div>
                            </div>
                            <div class="ps-post ps-post--sidebar">
                                <div class="ps-post__thumbnail">
                                    <a class="ps-post__overlay"
                                       href="/review"></a>
                                    <img src="/images/2017/06/img-blog-2-300x300.jpg" class=""
                                         alt="Barbecue Party Tips For A Truly Amazing Event"></div>
                                <div class="ps-post__content">
                                    <a href="/review"
                                       data-number-line="2">Barbecue Party Tips For A Truly Amazing Event</a><span>June 23, 2017</span>
                                </div>
                            </div>
                            <div class="ps-post ps-post--sidebar">
                                <div class="ps-post__thumbnail">
                                    <a class="ps-post__overlay"
                                       href="/review"></a>
                                    <img src="/images/2017/06/img-blog-6-300x300.jpg" class=""
                                         alt="Where I Learning Cook Cupcakes ?"></div>
                                <div class="ps-post__content">
                                    <a href="/review"
                                       data-number-line="2">Where I Learning Cook Cupcakes
                                        ?</a><span>June 22, 2017</span>
                                </div>
                            </div>
                            <div class="ps-post ps-post--sidebar">
                                <div class="ps-post__thumbnail">
                                    <a class="ps-post__overlay"
                                       href="/review"></a>
                                    <img src="/images/2017/06/img-blog-7-300x300.jpg" class=""
                                         alt="Barbecue Party Tips For A Truly Amazing Event"></div>
                                <div class="ps-post__content">
                                    <a href="/review"
                                       data-number-line="2">Barbecue Party Tips For A Truly Amazing Event</a><span>June 21, 2017</span>
                                </div>
                            </div>
                            <div class="ps-post ps-post--sidebar">
                                <div class="ps-post__thumbnail">
                                    <a class="ps-post__overlay"
                                       href="/review"></a>
                                    <img src="/images/2017/06/img-blog-5-300x300.jpg" class=""
                                         alt="Barbecue Party Tips For A Truly Amazing Event"></div>
                                <div class="ps-post__content">
                                    <a href="/review"
                                       data-number-line="2">Barbecue Party Tips For A Truly Amazing Event</a><span>June 20, 2017</span>
                                </div>
                            </div>
                        </aside>
                        <aside class="ps-widget ps-widget--sidebar widget noubakery_theme_widget_banner-4 ps-widget--ads">
                            <div class="ps-widget__header"><h3 class="ps-widget__title">ads banner</h3></div>
                            <div class="ps-widget__content">
                                <a class="panel-box-banner" href="#">
                                    <img src="/assets/wp-content2/uploads/2017/06/banner-2.jpg" alt="ads banner">

                                </a>
                            </div>
                        </aside>
                        <aside class="ps-widget ps-widget--sidebar widget tag_cloud-2 widget_tag_cloud">
                            <div class="ps-widget__header"><h3 class="ps-widget__title">Tags</h3></div>
                            <div class="tagcloud">
                                <ul class='wp-tag-cloud' role='list'>
                                    <li><a href="/category/the-rolling-pin"
                                           class="tag-cloud-link tag-link-58 tag-link-position-1"
                                           style="font-size: 8pt;" aria-label="bakery (1 item)">bakery</a></li>
                                    <li><a href="/category/the-rolling-pin"
                                           class="tag-cloud-link tag-link-59 tag-link-position-2"
                                           style="font-size: 8pt;" aria-label="bkery (1 item)">bkery</a></li>
                                    <li><a href="/category/the-rolling-pin"
                                           class="tag-cloud-link tag-link-57 tag-link-position-3"
                                           style="font-size: 8pt;" aria-label="coconut (1 item)">coconut</a></li>
                                    <li><a href="/category/the-rolling-pin"
                                           class="tag-cloud-link tag-link-18 tag-link-position-4"
                                           style="font-size: 20pt;" aria-label="Cupcake (7 items)">Cupcake</a></li>
                                    <li><a href="/category/the-rolling-pin"
                                           class="tag-cloud-link tag-link-56 tag-link-position-5"
                                           style="font-size: 8pt;" aria-label="sugar flower (1 item)">sugar flower</a>
                                    </li>
                                    <li><a href="/category/the-rolling-pin"
                                           class="tag-cloud-link tag-link-17 tag-link-position-6"
                                           style="font-size: 8pt;" aria-label="Travel (1 item)">Travel</a></li>
                                    <li><a href="/category/the-rolling-pin"
                                           class="tag-cloud-link tag-link-19 tag-link-position-7"
                                           style="font-size: 22pt;" aria-label="vanila (9 items)">vanila</a></li>
                                </ul>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div><!--End .page-wrap-->
<div th:insert="web/fragments/fragment.html::aboutUs"></div>
<div th:insert="web/fragments/fragment.html::footerImport"></div>
<div th:insert="web/fragments/fragment.html::underFooterImport"></div>
<div th:insert="web/fragments/fragment.html::text_javascript"></div>

</body>
</html>
