<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <title>Menu #2 &#8211; Noucake</title>
    <th:block th:insert="web/fragments/fragment.html::headerImport"></th:block>
    <th:block th:insert="web/fragments/fragment.html::global-styles-inline-css"></th:block>
    <th:block th:insert="web/fragments/fragment.html::js-css"></th:block>

</head>
<body class="page-template page-template-page-templates page-template-full-width page-template-page-templatesfull-width-php page page-id-290 theme-noucake woocommerce-no-js page-init wpb-js-composer js-comp-ver-6.8.0 vc_responsive currency-usd">
<th:block th:insert="web/fragments/fragment.html::table"></th:block>

<div class="ps-searchbox">
    <div class="ps-searchbox__remove"><i class="fa fa-remove"></i></div>
    <div class="container">
        <header>
            <p>Enter your keywords:</p>
            <form id="search_header" class="search_header_product " method="get"
                  action="http://warethemes.com/wordpress/bakery/">
                <input class="form-control" type="text" value="" name="s" autocomplete="off">

                <input type="hidden" name="post_type" value="product">
                <button type="submit"><i class="ps-icon--search"></i></button>
            </form>
        </header>
        <div class="ps-searchbox__result"></div>
        <footer class="text-center"><a class="ps-searchbox__morelink" href="#">VIEW ALL RESULT</a></footer>
    </div>
</div>
<div class="header--sidebar"></div>
<header class="header" data-responsive="1199">
    <th:block th:insert="web/fragments/fragment.html::USD-EURImport"></th:block>
    <th:block th:insert="web/fragments/fragment.html::class-navigation-import"></th:block>

    <div id="noubakery_mini_cart" class="ps-cart">
        <a class="ps-cart__toggle" href="/cart"><span><i>136</i></span><i
                class="ps-icon--shopping-cart"></i></a>
        <div class="ps-cart__listing">
            <div class="ps-cart__content">


                <div class="ps-cart-item">
                    <a href="/cart?remove_item=84d9ee44e457ddef7f2c4f25dc8fa865&#038;_wpnonce=9697bccc19"
                       class="ps-cart-item__close remove" title="Remove this item"
                       data-key="84d9ee44e457ddef7f2c4f25dc8fa865" data-product_id="199"
                       data-product_sku="HGEGX12"></a>
                    <div class="ps-cart-item__thumbnail">
                        <a href="/product/cherry"><img width="60" height="65"
                                                       src="/images/2013/06/img-cake-6-60x65.jpg"
                                                       class="attachment-noubakery_60x65 size-noubakery_60x65 wp-image-207"
                                                       alt="" loading="lazy"></a></div>
                    <div class="ps-cart-item__content">
                        <a class="ps-cart-item__title" href="/product/cherry">Sweet
                            Cakes</a>
                        <p>
                            <span>Quantity:<i>16</i></span>
                            <span>Total: <span class="woocs_special_price_code"><span
                                    class="woocommerce-Price-amount amount"><bdi><span
                                    class="woocommerce-Price-currencySymbol">&#36;</span>29.00</bdi></span></span></span>
                        </p>
                    </div>
                </div>

                <div class="ps-cart-item">
                    <a href="/cart?remove_item=0e65972dce68dad4d52d063967f0a705&#038;_wpnonce=9697bccc19"
                       class="ps-cart-item__close remove" title="Remove this item"
                       data-key="0e65972dce68dad4d52d063967f0a705" data-product_id="198"
                       data-product_sku="HGEGX13"></a>
                    <div class="ps-cart-item__thumbnail">
                        <a href="/product/cherry"><img width="60" height="65"
                                                       src="/images/2017/06/img-cake-9-60x65.jpg"
                                                       class="attachment-noubakery_60x65 size-noubakery_60x65 wp-image-257"
                                                       alt="" loading="lazy"></a></div>
                    <div class="ps-cart-item__content">
                        <a class="ps-cart-item__title" href="/product/cherry">Cupcake
                            Glory</a>
                        <p>
                            <span>Quantity:<i>12</i></span>
                            <span>Total: <span class="woocs_special_price_code"><span
                                    class="woocommerce-Price-amount amount"><bdi><span
                                    class="woocommerce-Price-currencySymbol">&#36;</span>90.00</bdi></span></span></span>
                        </p>
                    </div>
                </div>


                <div class="ps-cart-item">
                    <a href="/cart?remove_item=85d8ce590ad8981ca2c8286f79f59954&#038;_wpnonce=9697bccc19"
                       class="ps-cart-item__close remove" title="Remove this item"
                       data-key="85d8ce590ad8981ca2c8286f79f59954" data-product_id="197"
                       data-product_sku="HGEGX14"></a>
                    <div class="ps-cart-item__thumbnail">
                        <a href="/product/cherry"><img width="60" height="65"
                                                       src="/images/2017/06/img-cake-21-60x65.jpg"
                                                       class="attachment-noubakery_60x65 size-noubakery_60x65 wp-image-269"
                                                       alt="" loading="lazy"></a></div>
                    <div class="ps-cart-item__content">
                        <a class="ps-cart-item__title" href="/product/cherry">cupcake
                            queen</a>
                        <p>
                            <span>Quantity:<i>16</i></span>
                            <span>Total: <span class="woocs_special_price_code"><span
                                    class="woocommerce-Price-amount amount"><bdi><span
                                    class="woocommerce-Price-currencySymbol">&#36;</span>30.00</bdi></span></span></span>
                        </p>
                    </div>
                </div>


                <div class="ps-cart-item">
                    <a href="/cart?remove_item=084b6fbb10729ed4da8c3d3f5a3ae7c9&#038;_wpnonce=9697bccc19"
                       class="ps-cart-item__close remove" title="Remove this item"
                       data-key="084b6fbb10729ed4da8c3d3f5a3ae7c9" data-product_id="196"
                       data-product_sku="HGEGX15"></a>
                    <div class="ps-cart-item__thumbnail">
                        <a href="/product/cherry"><img width="60" height="65"
                                                       src="/images/2017/06/img-cake-12-60x65.jpg"
                                                       class="attachment-noubakery_60x65 size-noubakery_60x65 wp-image-260"
                                                       alt="" loading="lazy"></a>
                    </div>
                    <div class="ps-cart-item__content">
                        <a class="ps-cart-item__title" href="/product/cherry">Red
                            sugar flower</a>
                        <p>
                            <span>Quantity:<i>16</i></span>
                            <span>Total: <span class="woocs_special_price_code"><span
                                    class="woocommerce-Price-amount amount"><bdi><span
                                    class="woocommerce-Price-currencySymbol">&#36;</span>35.00</bdi></span></span></span>
                        </p>
                    </div>
                </div>


                <div class="ps-cart-item">
                    <a href="/cart?remove_item=0336dcbab05b9d5ad24f4333c7658a0e&#038;_wpnonce=9697bccc19"
                       class="ps-cart-item__close remove" title="Remove this item"
                       data-key="0336dcbab05b9d5ad24f4333c7658a0e" data-product_id="195"
                       data-product_sku="HGEGX16"></a>
                    <div class="ps-cart-item__thumbnail">
                        <a href="/product/cherry"><img width="60" height="65"
                                                       src="/images/2017/06/img-cake-19-60x65.jpg"
                                                       class="attachment-noubakery_60x65 size-noubakery_60x65 wp-image-267"
                                                       alt="" loading="lazy"></a>
                    </div>
                    <div class="ps-cart-item__content">
                        <a class="ps-cart-item__title" href="/product/cherry">Pumpkin
                            Brownie Cupcakes</a>
                        <p>
                            <span>Quantity:<i>12</i></span>
                            <span>Total: <span class="woocs_special_price_code"><span
                                    class="woocommerce-Price-amount amount"><bdi><span
                                    class="woocommerce-Price-currencySymbol">&#36;</span>9.00</bdi></span></span></span>
                        </p>
                    </div>
                </div>


                <div class="ps-cart-item">
                    <a href="/cart?remove_item=a597e50502f5ff68e3e25b9114205d4a&#038;_wpnonce=9697bccc19"
                       class="ps-cart-item__close remove" title="Remove this item"
                       data-key="a597e50502f5ff68e3e25b9114205d4a" data-product_id="194"
                       data-product_sku="HGEGX17"></a>
                    <div class="ps-cart-item__thumbnail">
                        <a href="/product/cherry"><img width="60" height="65"
                                                       src="/images/2017/06/img-cake-17-60x65.jpg"
                                                       class="attachment-noubakery_60x65 size-noubakery_60x65 wp-image-265"
                                                       alt=""
                                                       loading="lazy"></a></div>
                    <div class="ps-cart-item__content">
                        <a class="ps-cart-item__title" href="/product/cherry">Pumpkin
                            Spice Cupcakes</a>
                        <p>
                            <span>Quantity:<i>6</i></span>
                            <span>Total: <span class="woocs_special_price_code"><span
                                    class="woocommerce-Price-amount amount"><bdi><span
                                    class="woocommerce-Price-currencySymbol">&#36;</span>9.00</bdi></span></span></span>
                        </p>
                    </div>
                </div>


                <div class="ps-cart-item">
                    <a href="/cart?remove_item=bd686fd640be98efaae0091fa301e613&#038;_wpnonce=9697bccc19"
                       class="ps-cart-item__close remove" title="Remove this item"
                       data-key="bd686fd640be98efaae0091fa301e613" data-product_id="193"
                       data-product_sku="HGEGX18"></a>
                    <div class="ps-cart-item__thumbnail">
                        <a href="/product/cherry"><img width="60" height="65"
                                                       src="/images/2017/06/img-cake-16-60x65.jpg"
                                                       class="attachment-noubakery_60x65 size-noubakery_60x65 wp-image-264"
                                                       alt="" loading="lazy"></a>
                    </div>
                    <div class="ps-cart-item__content">
                        <a class="ps-cart-item__title" href="/product/cherry">Oreo
                            Spider Cupcakes</a>
                        <p>
                            <span>Quantity:<i>8</i></span>
                            <span>Total: <span class="woocs_special_price_code"><span
                                    class="woocommerce-Price-amount amount"><bdi><span
                                    class="woocommerce-Price-currencySymbol">&#36;</span>15.00</bdi></span></span></span>
                        </p>
                    </div>
                </div>


                <div class="ps-cart-item">
                    <a href="/cart?remove_item=9dcb88e0137649590b755372b040afad&#038;_wpnonce=9697bccc19"
                       class="ps-cart-item__close remove" title="Remove this item"
                       data-key="9dcb88e0137649590b755372b040afad" data-product_id="188"
                       data-product_sku="HGEGX19"></a>
                    <div class="ps-cart-item__thumbnail">
                        <a href="/product/cherry"><img width="60"
                                                       height="65"
                                                       src="/images/2017/06/img-cake-15-60x65.jpg"
                                                       class="attachment-noubakery_60x65 size-noubakery_60x65 wp-image-263"
                                                       alt=""
                                                       loading="lazy"></a>
                    </div>
                    <div class="ps-cart-item__content">
                        <a class="ps-cart-item__title"
                           href="/product/cherry">Chocolate Raspberry
                            Cupcakes</a>
                        <p>
                            <span>Quantity:<i>10</i></span>
                            <span>Total: <span class="woocs_special_price_code"><span
                                    class="woocommerce-Price-amount amount"><bdi><span
                                    class="woocommerce-Price-currencySymbol">&#36;</span>15.00</bdi></span></span></span>
                        </p>
                    </div>
                </div>


                <div class="ps-cart-item">
                    <a href="/cart?remove_item=eecca5b6365d9607ee5a9d336962c534&#038;_wpnonce=9697bccc19"
                       class="ps-cart-item__close remove" title="Remove this item"
                       data-key="eecca5b6365d9607ee5a9d336962c534" data-product_id="185"
                       data-product_sku="HGEGX22"></a>
                    <div class="ps-cart-item__thumbnail">
                        <a href="/product/cherry"><img width="60" height="65"
                                                       src="/images/2017/06/img-cake-3-60x65.jpg"
                                                       class="attachment-noubakery_60x65 size-noubakery_60x65 wp-image-251"
                                                       alt="" loading="lazy"></a>
                    </div>
                    <div class="ps-cart-item__content">
                        <a class="ps-cart-item__title" href="/product/cherry">Honey
                            Lemon Cupcakes</a>
                        <p>
                            <span>Quantity:<i>2</i></span>
                            <span>Total: <span class="woocs_special_price_code"><span
                                    class="woocommerce-Price-amount amount"><bdi><span
                                    class="woocommerce-Price-currencySymbol">&#36;</span>15.00</bdi></span></span></span>
                        </p>
                    </div>
                </div>


                <div class="ps-cart-item">
                    <a href="/cart?remove_item=9872ed9fc22fc182d371c3e9ed316094&#038;_wpnonce=9697bccc19"
                       class="ps-cart-item__close remove" title="Remove this item"
                       data-key="9872ed9fc22fc182d371c3e9ed316094" data-product_id="186"
                       data-product_sku="HGEGX21"></a>
                    <div class="ps-cart-item__thumbnail">
                        <a href="/product/cherry"><img width="60" height="65"
                                                       src="/images/2017/06/img-cake-7-60x65.jpg"
                                                       class="attachment-noubakery_60x65 size-noubakery_60x65 wp-image-255"
                                                       alt="" loading="lazy"></a>
                    </div>
                    <div class="ps-cart-item__content">
                        <a class="ps-cart-item__title" href="/product/cherry">Sangria
                            Cupcakes</a>
                        <p>
                            <span>Quantity:<i>6</i></span>
                            <span>Total: <span class="woocs_special_price_code"><span
                                    class="woocommerce-Price-amount amount"><bdi><span
                                    class="woocommerce-Price-currencySymbol">&#36;</span>12.00</bdi></span></span></span>
                        </p>
                    </div>
                </div>


                <div class="ps-cart-item">
                    <a href="/cart?remove_item=6cdd60ea0045eb7a6ec44c54d29ed402&#038;_wpnonce=9697bccc19"
                       class="ps-cart-item__close remove" title="Remove this item"
                       data-key="6cdd60ea0045eb7a6ec44c54d29ed402" data-product_id="184"
                       data-product_sku="HGEGX23"></a>
                    <div class="ps-cart-item__thumbnail">
                        <a href="/product/cherry"><img width="60" height="65"
                                                       src="/images/2017/06/img-cake-10-60x65.jpg"
                                                       class="attachment-noubakery_60x65 size-noubakery_60x65 wp-image-258"
                                                       alt="" loading="lazy"></a>
                    </div>
                    <div class="ps-cart-item__content">
                        <a class="ps-cart-item__title" href="/product/cherry">Blueberry
                            Buttercream</a>
                        <p>
                            <span>Quantity:<i>4</i></span>
                            <span>Total: <span class="woocs_special_price_code"><span
                                    class="woocommerce-Price-amount amount"><bdi><span
                                    class="woocommerce-Price-currencySymbol">&#36;</span>35.00</bdi></span></span></span>
                        </p>
                    </div>
                </div>


                <div class="ps-cart-item">
                    <a href="/cart?remove_item=4c5bde74a8f110656874902f07378009&#038;_wpnonce=9697bccc19"
                       class="ps-cart-item__close remove" title="Remove this item"
                       data-key="4c5bde74a8f110656874902f07378009" data-product_id="182"
                       data-product_sku="HGEGX25"></a>
                    <div class="ps-cart-item__thumbnail">
                        <a href="/product/cherry"><img width="60" height="65"
                                                       src="/images/2017/06/img-cake-11-60x65.jpg"
                                                       class="attachment-noubakery_60x65 size-noubakery_60x65 wp-image-259"
                                                       alt="" loading="lazy"></a></div>
                    <div class="ps-cart-item__content">
                        <a class="ps-cart-item__title" href="/product/cherry">Cherry
                            Coke</a>
                        <p>
                            <span>Quantity:<i>4</i></span>
                            <span>Total: <span class="woocs_special_price_code"><span
                                    class="woocommerce-Price-amount amount"><bdi><span
                                    class="woocommerce-Price-currencySymbol">&#36;</span>35.00</bdi></span></span></span>
                        </p>
                    </div>
                </div>


                <div class="ps-cart-item">
                    <a href="/cart?remove_item=fc221309746013ac554571fbd180e1c8&#038;_wpnonce=9697bccc19"
                       class="ps-cart-item__close remove" title="Remove this item"
                       data-key="fc221309746013ac554571fbd180e1c8" data-product_id="181"
                       data-product_sku="HGEGX27"></a>
                    <div class="ps-cart-item__thumbnail">
                        <a href="/product/cherry"><img width="60" height="65"
                                                       src="/images/2017/06/img-cake-1-60x65.jpg"
                                                       class="attachment-noubakery_60x65 size-noubakery_60x65 wp-image-249"
                                                       alt="" loading="lazy"></a>
                    </div>
                    <div class="ps-cart-item__content">
                        <a class="ps-cart-item__title" href="/product/cherry">Becky's
                            Snickerdoodle</a>
                        <p>
                            <span>Quantity:<i>2</i></span>
                            <span>Total: <span class="woocs_special_price_code"><span
                                    class="woocommerce-Price-amount amount"><bdi><span
                                    class="woocommerce-Price-currencySymbol">&#36;</span>35.00</bdi></span></span></span>
                        </p>
                    </div>
                </div>


                <div class="ps-cart-item">
                    <a href="/cart?remove_item=8f85517967795eeef66c225f7883bdcb&#038;_wpnonce=9697bccc19"
                       class="ps-cart-item__close remove" title="Remove this item"
                       data-key="8f85517967795eeef66c225f7883bdcb" data-product_id="178"
                       data-product_sku="HGEGX31"></a>
                    <div class="ps-cart-item__thumbnail">
                        <a href="/product/cherry"><img width="60" height="65"
                                                       src="/images/2017/06/img-cake-21-60x65.jpg"
                                                       class="attachment-noubakery_60x65 size-noubakery_60x65 wp-image-269"
                                                       alt="" loading="lazy"></a>
                    </div>
                    <div class="ps-cart-item__content">
                        <a class="ps-cart-item__title" href="/product/cherry">Boston
                            Cream Pie</a>
                        <p>
                            <span>Quantity:<i>2</i></span>
                            <span>Total: <span class="woocs_special_price_code"><span
                                    class="woocommerce-Price-amount amount"><bdi><span
                                    class="woocommerce-Price-currencySymbol">&#36;</span>20.00</bdi></span></span></span>
                        </p>
                    </div>
                </div>


                <div class="ps-cart-item">
                    <a href="/cart?remove_item=c0c7c76d30bd3dcaefc96f40275bdc0a&#038;_wpnonce=9697bccc19"
                       class="ps-cart-item__close remove" title="Remove this item"
                       data-key="c0c7c76d30bd3dcaefc96f40275bdc0a" data-product_id="50"
                       data-product_sku="HGEGX26"></a>
                    <div class="ps-cart-item__thumbnail">
                        <a href="/product/cherry"><img width="60" height="65"
                                                       src="/images/2017/06/img-cake-2-60x65.jpg"
                                                       class="attachment-noubakery_60x65 size-noubakery_60x65 wp-image-250"
                                                       alt="" loading="lazy"></a></div>
                    <div class="ps-cart-item__content">
                        <a class="ps-cart-item__title" href="/product/cherry">Cherry
                            Limeade</a>
                        <p>
                            <span>Quantity:<i>2</i></span>
                            <span>Total: <span class="woocs_special_price_code"><span
                                    class="woocommerce-Price-amount amount"><bdi><span
                                    class="woocommerce-Price-currencySymbol">&#36;</span>35.00</bdi></span></span></span>
                        </p>
                    </div>
                </div>


                <div class="ps-cart-item">
                    <a href="/cart?remove_item=82161242827b703e6acf9c726942a1e4&#038;_wpnonce=9697bccc19"
                       class="ps-cart-item__close remove" title="Remove this item"
                       data-key="82161242827b703e6acf9c726942a1e4" data-product_id="175"
                       data-product_sku="HGEGX34"></a>
                    <div class="ps-cart-item__thumbnail">
                        <a href="/product/cherry"><img width="60" height="65"
                                                       src="/images/2017/06/img-cake-10-60x65.jpg"
                                                       class="attachment-noubakery_60x65 size-noubakery_60x65 wp-image-258"
                                                       alt="" loading="lazy"></a>
                    </div>
                    <div class="ps-cart-item__content">
                        <a class="ps-cart-item__title" href="/product/cherry">Dr
                            Pepper Cupcakes</a>
                        <p>
                            <span>Quantity:<i>4</i></span>
                            <span>Total: <span class="woocs_special_price_code"><span
                                    class="woocommerce-Price-amount amount"><bdi><span
                                    class="woocommerce-Price-currencySymbol">&#36;</span>18.00</bdi></span></span></span>
                        </p>
                    </div>
                </div>


                <div class="ps-cart-item">
                    <a href="/cart?remove_item=31fefc0e570cb3860f2a6d4b38c6490d&#038;_wpnonce=9697bccc19"
                       class="ps-cart-item__close remove" title="Remove this item"
                       data-key="31fefc0e570cb3860f2a6d4b38c6490d" data-product_id="187"
                       data-product_sku="HGEGX20"></a>
                    <div class="ps-cart-item__thumbnail">
                        <a href="/product/cherry"><img width="60"
                                                       height="65"
                                                       src="/images/2017/06/img-cake-13-60x65.jpg"
                                                       class="attachment-noubakery_60x65 size-noubakery_60x65 wp-image-261"
                                                       alt=""
                                                       loading="lazy"></a>
                    </div>
                    <div class="ps-cart-item__content">
                        <a class="ps-cart-item__title"
                           href="/product/cherry">Frozen Creamy
                            Chocolate Mini Pies</a>
                        <p>
                            <span>Quantity:<i>8</i></span>
                            <span>Total: <span class="woocs_special_price_code"><span
                                    class="woocommerce-Price-amount amount"><bdi><span
                                    class="woocommerce-Price-currencySymbol">&#36;</span>12.00</bdi></span></span></span>
                        </p>
                    </div>
                </div>
                
                <div class="ps-cart-item">
                    <a href="/cart?remove_item=bf8229696f7a3bb4700cfddef19fa23f&#038;_wpnonce=9697bccc19"
                       class="ps-cart-item__close remove" title="Remove this item"
                       data-key="bf8229696f7a3bb4700cfddef19fa23f" data-product_id="174"
                       data-product_sku="HGEGX35"></a>
                    <div class="ps-cart-item__thumbnail">
                        <a href="/product/cherry"><img width="60" height="65"
                                                       src="/images/2017/06/img-cake-21-60x65.jpg"
                                                       class="attachment-noubakery_60x65 size-noubakery_60x65 wp-image-269"
                                                       alt="" loading="lazy"></a>
                    </div>
                    <div class="ps-cart-item__content">
                        <a class="ps-cart-item__title" href="/product/cherry">Super
                            Decadent Chocolate</a>
                        <p>
                            <span>Quantity:<i>4</i></span>
                            <span>Total: <span class="woocs_special_price_code"><span
                                    class="woocommerce-Price-amount amount"><bdi><span
                                    class="woocommerce-Price-currencySymbol">&#36;</span>18.00</bdi></span></span></span>
                        </p>
                    </div>
                </div>

                <div class="ps-cart-item">
                    <a href="/cart?remove_item=8f53295a73878494e9bc8dd6c3c7104f&#038;_wpnonce=9697bccc19"
                       class="ps-cart-item__close remove" title="Remove this item"
                       data-key="8f53295a73878494e9bc8dd6c3c7104f" data-product_id="179"
                       data-product_sku="HGEGX30"></a>
                    <div class="ps-cart-item__thumbnail">
                        <a href="/product/cherry"><img width="60" height="65"
                                                       src="/images/2017/06/img-cake-8-60x65.jpg"
                                                       class="attachment-noubakery_60x65 size-noubakery_60x65 wp-image-256"
                                                       alt=""
                                                       loading="lazy"></a></div>
                    <div class="ps-cart-item__content">
                        <a class="ps-cart-item__title" href="/product/cherry">The
                            Best Oreo Cupcakes</a>
                        <p>
                            <span>Quantity:<i>2</i></span>
                            <span>Total: <span class="woocs_special_price_code"><span
                                    class="woocommerce-Price-amount amount"><bdi><span
                                    class="woocommerce-Price-currencySymbol">&#36;</span>18.00</bdi></span></span></span>
                        </p>
                    </div>
                </div>


            </div>

            <div class="ps-cart__total">
                <p>Number of items:<span>136</span></p>
                <p>Item Total:<span class="woocs_special_price_code"><span
                        class="woocommerce-Price-amount amount"><bdi><span
                        class="woocommerce-Price-currencySymbol">&#36;</span>3,854.00</bdi></span></span>
                </p>
            </div>

            <div class="ps-cart__footer">
                <a class="ps-btn ps-btn--view-bag" href="/cart">View bag</a>
            </div>
        </div>
    </div>
    
</header>

<nav class="ps-mobile-nav hidden-lg hidden-md">
    <ul class="ps-list--footer">
        <li><a href="/wishlist"><i class="ps-icon--heart"></i><span>Wishlist</span></a></li>

        <li><a href="/my_account"><i class="ps-icon--profile"></i><span>Account</span></a></li>

        <li><a class="ps-search-btn" href="#"><i class="ps-icon--search"></i><span>Search</span></a></li>

        <li><a class="ps-cart-count" href="/cart"><i class="ps-icon--shopping-cart"></i><span
                class="quantity"><i class="mobile_cart_content">136</i></span><span>Cart</span></a></li>
    </ul>
</nav>

<div class="page-wrap">
    <div class="ps-section--hero">
        <img src="/assets/wp-content2/themes/bakery/assets/images/hero/01.jpg" alt="Menu #2">
        <div class="ps-section__content text-center">
            <h3 class="ps-section__title">Menu #2</h3>

            <div class="ps-breadcrumb">
                <ol class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li class="active">Menu #2</li>
                </ol>
            </div>

        </div>
    </div>
</div>

<div th:insert="web/fragments/fragment.html::menuImport"></div>
<div th:insert="web/fragments/fragment.html::contactUsImport"></div>
<div th:insert="web/fragments/fragment.html::aboutUs"></div>
<div th:insert="web/fragments/fragment.html::footerImport"></div>
<div th:insert="web/fragments/fragment.html::underFooterImport"></div>
<div th:insert="web/fragments/fragment.html::text_javascript"></div>


</body>
</html>
